In [1]:
import pandas as pd

In [4]:
train = pd.read_csv('data/train_features.csv')
train

,id,time,acc_x,acc_y,acc_z,gy_x,gy_y,gy_z
0,0,0,1.206087,-0.179371,-0.148447,-0.591608,-30.549010,-31.676112
1,0,1,1.287696,-0.198974,-0.182444,0.303100,-39.139103,-24.927216
2,0,2,1.304609,-0.195114,-0.253382,-3.617278,-44.122565,-25.019629
3,0,3,1.293095,-0.230366,-0.215210,2.712986,-53.597843,-27.454013
4,0,4,1.300887,-0.187757,-0.222523,4.286707,-57.906561,-27.961234
...,...,...,...,...,...,...,...,...
1874995,3124,595,-0.712530,-0.658357,0.293707,-29.367857,-104.013664,-76.290437
1874996,3124,596,-0.683037,-0.658466,0.329223,-30.149089,-101.796809,-76.625087
1874997,3124,597,-0.664730,-0.666625,0.364114,-27.873095,-98.776072,-79.365125
1874998,3124,598,-0.630534,-0.682565,0.373696,-23.636550,-99.139495,-80.259478
1874999,3124,599,-0.578351,-0.700235,0.384390,-17.917626,-100.181873,-80.676229

In [6]:
train_y = pd.read_csv('data/train_labels.csv')
train_y

        id  label                          label_desc
0        0     37           Shoulder Press (dumbbell)
1        1     26                        Non-Exercise
2        2      3                  Biceps Curl (band)
3        3     26                        Non-Exercise
4        4     26                        Non-Exercise
...    ...    ...                                 ...
3120  3120     26                        Non-Exercise
3121  3121     26                        Non-Exercise
3122  3122     15  Dynamic Stretch (at your own pace)
3123  3123     26                        Non-Exercise
3124  3124      2                          Bicep Curl

[3125 rows x 3 columns]

In [7]:
test = pd.read_csv('data/test_features.csv')
test

,id,time,acc_x,acc_y,acc_z,gy_x,gy_y,gy_z
0,3125,0,-0.628100,-0.160155,0.151487,49.665357,88.435961,13.597668
1,3125,1,-0.462548,0.012462,-0.053726,56.953059,96.185341,16.278458
2,3125,2,-0.363481,-0.091789,-0.130004,29.557396,93.836453,13.329043
3,3125,3,-0.351750,-0.239870,-0.193053,23.686172,88.608721,13.449771
4,3125,4,-0.312934,-0.123762,-0.318621,20.410071,85.327707,13.884912
...,...,...,...,...,...,...,...,...
469195,3906,595,0.104191,-0.784979,0.639513,-10.475346,14.095361,-190.358982
469196,3906,596,0.103297,-0.758954,0.615687,-25.360272,-8.523018,-180.393291
469197,3906,597,0.128294,-0.749389,0.586184,-27.917723,-23.186245,-162.624160
469198,3906,598,0.104130,-0.692731,0.573397,-27.847980,-30.407555,-138.761676
469199,3906,599,0.059299,-0.613487,0.556780,-29.900725,-36.586219,-116.423810

In [10]:
for i, name in enumerate(train_y.label_desc.unique(), 1):
    print(f'{i:4d}:', name)

   1: Shoulder Press (dumbbell)
   2: Non-Exercise
   3: Biceps Curl (band)
   4: Side Plank Right side
   5: Plank
   6: Chest Press (rack)
   7: Wall Squat
   8: Russian Twist
   9: Running (treadmill)
  10: Pushup (knee or foot variation)
  11: Wall Ball
  12: Dynamic Stretch (at your own pace)
  13: Sit-up (hands positioned behind head)
  14: Tap Right Device
  15: Static Stretch (at your own pace)
  16: Device on Table
  17: Triceps extension (lying down)
  18: Elliptical machine
  19: Burpee
  20: Walking lunge
  21: Lateral Raise
  22: Jump Rope
  23: Triceps Kickback (knee on bench) (label spans both arms)
  24: Medicine Ball Slam
  25: Lunge (alternating both legs, weight optional)
  26: Fast Alternating Punches
  27: Static stretch
  28: Squat Rack Shoulder Press
  29: Overhead Triceps Extension
  30: Seated Back Fly
  31: Bicep Curl
  32: Side Plank Left side
  33: Dumbbell Squat (hands at side)
  34: Dumbbell Deadlift Row
  35: Two-arm Dumbbell Curl (both arms, not alternating)
  36: Walk
  37: Arm Band Adjustment
  38: Band Pull-Down Row
  39: Squat Jump
  40: Squat (arms in front of body, parallel to ground)
  41: Triceps Kickback (knee on bench) (left arm)
  42: Triceps Kickback (knee on bench) (right arm)
  43: Butterfly Sit-up
  44: V-up
  45: Lawnmower (right arm)
  46: Squat (hands behind head)
  47: Squat
  48: Jumping Jacks
  49: Repetitive Stretching
  50: Squat (kettlebell / goblet)
  51: Power Boat pose
  52: Pushups
  53: Dumbbell Row (knee on bench) (label spans both arms)
  54: Crunch
  55: Sit-ups
  56: Dumbbell Row (knee on bench) (left arm)
  57: Dip
  58: Kettlebell Swing
  59: Dumbbell Row (knee on bench) (right arm)
  60: Lawnmower (left arm)
  61: Rowing machine